<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Flask React</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ asset_url_for('style.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Flask React</h1>
      <br>
      <div id="main"></div>
    </div>
    <!-- scripts -->
    <script src="{{ asset_url_for('manifest.js') }}"></script>
    <script src="{{ asset_url_for('react.js') }}"></script>
    <script src="{{ asset_url_for('main.js') }}"></script>
  </body>
</html>